@{
    ViewBag.Title = "Detail";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Detail</h2>


<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#PersonalDetail" role="tab" data-toggle="tab" id="a-personaldetail">Personal Details</a>

        @*<a class="nav-link @(ViewBag.ActiveTab == (int)TabEnum.PersonalDetails ? "active" : "")  " href="#PersonalDetail" role="tab" data-toggle="tab" id="a-personaldetail">Personal Details</a>*@
    </li>

    <li class="nav-item">
        
        <a class="nav-link" href="#BankDetail" role="tab" data-toggle="tab" id="a-bankDetail">Bank Details</a>
       
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#ProfessionalDetail" role="tab" data-toggle="tab">Professional Details</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#CurrentStatus" role="tab" data-toggle="tab">Current Status</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#ExperienceDetail" role="tab" data-toggle="tab">Experience Details</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#EducationalDetail" role="tab" data-toggle="tab">Educational Details</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="PersonalDetail">

        <div id="tab-personal-detail"> </div>

        @*<a class="btn btn-primary btnNext">Next</a>*@

    </div>

    <div role="tabpanel" class="tab-pane fade" id="BankDetail">
        <div id="tab-bank-detail"> </div>

        <a class="btn btn-primary btnPrevious">Previous</a>
            <a class="btn btn-primary btnNext">Next</a>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="ProfessionalDetail">

        <div id="tab-professional-detail"> </div>


        @*<a class="btn btn-primary btnPrevious">Previous</a>
            <a class="btn btn-primary btnNext">Next</a>*@

    </div>

    <div role="tabpanel" class="tab-pane fade" id="CurrentStatus">

        <div id="tab-currentstatus-detail"> </div>

        @*<a class="btn btn-primary btnPrevious">Previous</a>
            <a class="btn btn-primary btnNext">Next</a>*@

    </div>

    <div role="tabpanel" class="tab-pane fade" id="ExperienceDetail">
        <div id="tab-experience-detail"> </div>


        @*<a class="btn btn-primary btnPrevious">Previous</a>
            <a class="btn btn-primary btnNext">Next</a>*@
    </div>

    <div role="tabpanel" class="tab-pane fade" id="EducationalDetail">
        <div id="tab-education-detail"> </div>

        @*<a class="btn btn-primary btnPrevious">Previous</a>*@

    </div>
</div>

<script>

   
    $('.btnNext').click(function () {
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    });

    $(document).ready(function () {

        $("#a-personaldetail").trigger("click");

        @if (ViewBag.ActiveTab == (int)TabEnum.PersonalDetails  || ViewBag.ActiveTab == null) {

            <Text> $("#tab-personal-detail").load('@Url.Action("PersonalDetail", "Detail")'); </Text>
        }

        @if (ViewBag.ActiveTab == (int)TabEnum.BankDetails )
          {
            <Text>  
                $("#a-bankDetail").trigger("click");
                $("#tab-bank-detail").load('@Url.Action("BankDetails", "Detail")');
            </Text>
        }

        @*$("#tab-personal-detail").load('@Url.Action("PersonalDetail", "Detail")');*@

        @*$("#tab-bank-detail").load('@Url.Action("BankDetails", "Detail")');*@
    });
</script>
