@model  List<Demo.Models.TeamModel>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<!-- #region datatables files -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
<!-- #endregion -->
<h1>Team</h1>

<table id="tblGrid" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var data in Model)
        {
            <tr>
                <td>@data.Name </td>
                <td>@data.Designation </td>
                <td>@data.Department </td>
                <td>
                    <a class="btn btn-primary" style="margin-right:2px;" href="@Url.Action("TeamDetail","Detail", new { id = data.Id})">Edit</a>
                    <a class="btn btn-danger" onclick="Delete(@data.Id)">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>

<script>
    function Delete(id) {
        var confirmation = confirm("are you sure you want to remove the item?");
        if (confirmation) {

            $.ajax({
                url: "@Url.Action("Delete","Detail")?id=" + id,
                type: 'post',
                success: function (result) {
                    if (result) {
                        window.location.href = "@Url.Action("Index","Detail")"
                    } else {
                        alert('Failed!');
                    }

                },
                error: function () {
                    alert('error!');
                }
            });
        }
    }

    $(document).ready(function () {
        $('#tblGrid').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Add',
                    className: "btn btn-primary",
                    attr: {
                        id: 'add-btn'
                    },
                    action: function (e, dt, node, config) {
                        TeamDetail();
                    }
                }
            ]
        });

        $("#add-btn").removeClass('dt-button');

        function TeamDetail() {
            window.location.href = "@Url.Action("TeamDetail", "Detail")"
        }

    });

</script>