@{
    Layout = null;
}
@model Demo.Models.PersonalDetailModel



<h3>Personal Details</h3>

@using (Html.BeginForm("PersonalDetail", "Detail", FormMethod.Post, new { enctype = "multipart/form-data", id = "personalDetailForm" }))
{
    <div class="form-group">
        <input type="file" name="postedFile" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = true })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" , required = true})
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control datepicker", @type = "date" , required = true })
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" , @type = "number" , required = true  })
        <span id="error-phone" class="text-danger"></span>
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , required = true ,@type = "Email"  })
        @Html.ValidationMessageFor(m => m.Email)
        <span id="error-email-invalid" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>


    @*<input type="submit" id="btnUpload" value="Upload" />*@
}


@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>*@

<script>
    $(document).ready(function () {

        var now = new Date(),
        currentDate = now.toISOString().substring(0, 10);
        $('#BirthDate').prop('max', currentDate);

       
        $("#Phone").on('change', function () {
            if ($("#Phone").val().length != 10) {
                $("#error-phone").text("Invalid");
            } else {
                $("#error-phone").text("");
            }
        });

       

    });
</script>
